ㄴ<div class = "container">
    <div class ="container_info">
      <b class ="container_title">세종대 HOT 한 맛집 !</b>
    </div>

    <div class = "inner-view">
      <!-- thumbnail -->
      <% @restaurants.each do |r| %>
        <div class = "col-xs-4">
          <div class = "thumbnail" onclick="location.href='/restaurants/<%= r.id %>'">
            
            <% if r.albums[0].nil? %>
            <% else %>
            <div class ="info-box">
              <div class = "info">
                <%= truncate(r.r_name, length: 9) %><br>
              </div>
              <div class="info-detail"%>
                <b style="color:#f0ad4e"><%= r.r_like %></b><small> 추천 </small> | 
                <b style="color:#f0ad4e"><%= r.comments.count %></b><small> 의견 </small>
              </div>
            </div>            
              <%= link_to image_tag r.albums.first.picture %>
            <% end %>

          </div>
        </div>
      <% end %>
    </div>    
</div>
