<% provide(:title, "Sejong Plate") %>

<html>
<head>

	<title></title>
</head>
  <body>
    <!-- 메인 슬라이드 -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

      <!-- Indicators ( o o o ) -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>        
      </ol>

      <div class ="carousel-search">
        asdfafdfsafafasf
      </div>

      <!-- 메인 슬라이더 내용들 -->
      <div class="carousel-inner">
        <div class="active item">
          <%= link_to image_tag("a.jpg", :width => '100%', :height => '100%'), '#' %>
        </div>
        <div class="item">
          <%= link_to image_tag("b.jpg", :width => '100%', :height => '100%'), '#' %>
        </div>
        <div class="item">
          <%= link_to image_tag("c.jpg", :width => '100%', :height => '100%'), '#' %>
        </div>
      </div>
    </div>

    <!-- 슬라이더 밑에 공간 -->
    <div class = "lower-body">
      <h1> 추천 메뉴 </h1>
      <div class="recommend">
        <div class="recommend-menu">
          <%= link_to image_tag("a.jpg", :width => '110%', :height => '110%'), '#' %>
            <div class="info">
              팥빙수 맛집
            </div>
        </div>
        <div class="recommend-menu">
          <%= link_to image_tag("b.jpg", :width => '110%', :height => '110%'), '#' %>
            <div class="info">
              파스타 맛집
            </div>
        </div>
        <div class="recommend-menu">
          <%= link_to image_tag("c.jpg", :width => '110%', :height => '110%'), '#' %>
            <div class="info">
              피자 맛집
            </div>          
        </div>        
      </div>
    </div>
  </body>
</html>