<% provide(:title, "Sejong Plate") %>

<html>
  <head>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators ( o o o ) -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>        
      </ol>

      <!-- 메인 슬라이더 내용들 -->
      <div class="carousel-inner">
        <div class="active item">
          <%= link_to image_tag("a.jpg", :width => '100%', :height => '100%'), '#' %>
        </div>
        <div class="item">
          <%= link_to image_tag("b.jpg", :width => '100%', :height => '100%'), '#' %>
        </div>
        <div class="item">
          <%= link_to image_tag("c.jpg", :width => '100%', :height => '100%'), '#' %>
        </div>
      </div>

      <div class ="carousel-search">
      </div>

    </div>
  </head>
  <body>
    <div class = "container">
      <div class = "inner-view">
        <% @restaurants.each do |r| %>
        <div class = "col-xs-4">
          <div class = "thumbnail"  onclick="location.href='/restaurants/<%= r.id %>'">
            
            <% if r.albums[0].nil? %>
            <% else %>
            <div class ="info-box">
              <div class = "info">
                  <%= r.r_name %><br>
              </div>
              <div class="info-detail"%>
                <b style="color:red"><%= r.r_like %></b><small> 좋아요 </small> | 
                <b style="color:red"><%= r.comments.count %></b><small> 의견 </small>
              </div>
            </div>
            
              <%= link_to image_tag r.albums.first.picture %>

            <% end %>

          </div>
        </div>
        <% end %>
      </div>
    </div>
  </body>
</html>