<% provide(:title, "Sejong Plate") %>

<html>
<head>

	<title></title>
</head>
  <body>
    <!-- 메인 슬라이드 -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

      <!-- Indicators ( o o o ) -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>        
      </ol>

      <!-- 메인 슬라이더 내용들 -->
      <div class="carousel-inner">
        <div class="active item">
          <%= link_to image_tag("a.jpg", :width => '100%', :height => '100%'), '#' %>
        </div>
        <div class="item">
          <%= link_to image_tag("b.jpg", :width => '100%', :height => '100%'), '#' %>
        </div>
        <div class="item">
          <%= link_to image_tag("c.jpg", :width => '100%', :height => '100%'), '#' %>
        </div>
      </div>


      <div class ="carousel-search">
      </div>

    </div>

    <!-- 슬라이더 밑에 공간 -->
    <div class = "lower-body">
      <!-- 분류별로 보여주기 위함 
      <div class="index">
          <%= link_to "전체보기", '#', class:"btn btn-success" %>
          <%= link_to "한식", '#',class:"btn btn-success" %>
          <%= link_to "중식", '#',class:"btn btn-success" %>
          <%= link_to "일식", '#',class:"btn btn-success" %>
          <%= link_to "분식", '#',class:"btn btn-success" %>
          <%= link_to "후식a", '#',class:"btn btn-success" %>
      </div>
      -->

      <% @restaurants.each do |r| %>
      <div class="recommend">
        <div class="recommend-menu">
          <% if r.albums[0].nil? %>
          <% else %>
            <%= link_to image_tag(r.albums.first.picture, 
              :width => '310px', :height => '310px'), 
                restaurant_path(:id => r.id) %>
          <% end %>
          <div class="info">
            <%= r.r_name %>
          </div>
        </div>      
      </div>

      <% end %>
    </div>
  </body>
</html>