<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div id="login_form" align="center">
    <div id="login_text">Register</div>
    <%= form_for(@user) do |f|%>
      <%= f.text_field :name ,class:"form-control" ,id:"inputId", placeholder:"ID"%>
      <%= f.text_field :u_nickname ,class:"form-control" ,id:"inputNick", placeholder:"Nickname"%>
      <%= f.password_field :password ,class:"form-control" ,id:"inputPwd" ,placeholder:"Password"%>
      <%= f.password_field :password_confirmation ,class:"form-control" ,id:"inputPwd", placeholder:"Password Confirmation"%>
      
      <%= f.submit "SUBMIT", class:"btn btn-default", id:"bt_register"%>
    <% end %>
  </div>
</body>
</html>
