<div>
	<strong> 리뷰 </strong>
	<span class="r_contents">
		(<%= @comments.count %>)</span><br><br>
</div>

<div class="comment_content">
	<% @comments.each do |c| %>

	<div class="col-xs-4", id="comment_user">

		<b class = "comment_nickname"><%= c.facebook_user.nickname %><br><br></b>

		<% if logged_in? %>
			<% if current_user?(c.facebook_user) || current_user.admin == true %>
				<%= link_to "편집", edit_restaurant_comment_path(@restaurant.id, :id=> c.id),
				remote: true, class:"glyphicon glyphicon-pencil" %>

				<%= link_to "삭제", restaurant_comment_path(@restaurant.id, :id=> c.id), 
				method: :delete, remote: true, data: {confirm: "삭제합니까?"},
				class:"glyphicon glyphicon-trash" %><p>
			<% end %>

		<% else %>

		<% end %>
	</div>

	<div class="col-xs-8", id="comment_content_<%= c.id %>">
		<div id="comment_content">
			<%= c.c_content %><br><br>
		</div>
		<div id="comment_time">
			<%= timestamp_division(c) %><br>
		</div><br>
	</div>
	<hr>
	<% end %>
</div>