
<div class="restaurant_info_bottom">

	<div class="restaurant_like">
		<div class="like">
			<div id="like_button">
				<% if logged_in? %>
		
					<% if @restaurant.valuations.find_by(:facebook_user_id => current_user.id) && @restaurant.valuations.find_by(:facebook_user_id => current_user.id).recommend == true %>

					<%= link_to image_tag("like.png"), valuations_path(:restaurant_id => @restaurant.id) , method: :post, remote: true %>

					<% else %>

					<%= link_to image_tag("unlike.png"),valuations_path(:restaurant_id => @restaurant.id) , method: :post, remote: true %>

					<% end %>

				<% else %>

					<%= link_to image_tag("unlike.png"), "/auth/facebook" %>

				<% end %>
			</div>
		</div>
	</div>

	<div class="restaurant_map">
		<div class="restaurant_map_button">
			<a data-toggle="modal" data-target="#myModal">
				<%= image_tag("map.png") %>
			</a>

			<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" area-hidden="true">	
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<%= render 'restaurants/restaurant_map' %>
					</div>
					<div class="modal-footer">
						<button type="button" id="map_modal_button" class="btn btn-lg" data-dismiss="modal">
							Close
						</button>
					</div>
				</div>
			</div>		
			<hr>
		</div>
	</div>

	<script>
		var id = @restaurant.id
	</script>

	<div class="restaurant_share">
		<div class="restaurantexitshare_button">
			<% if logged_in? %>

				<%= link_to image_tag("share.png"), 'http://www.facebook.com/sharer/sharer.php?u=' +
				'http://www.sejongplate.com/restaurants/', :target => :blank %>

			<% else %>

				<%= link_to image_tag("share.png"), "/auth/facebook" %>

			<% end %>	
		</div>
	</div>
</div>