<div class="restaurant_info">
	<span class="restaurant_name"><%= @restaurant.r_name %> </span>
	<span class="menu_list">
		<button type="button", image_tag("map.jpg", width: "24px", height: "24px"),
		data-toggle="modal" data-target=".bs-example-modal-sm"></button>
		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel">		
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<% @albums.each do |p| %>
				<%= image_tag p.picture_url , :width => "350px", :height => "330px" %>
				<% end %>
			</div>
			<div class="modal-footer">
				<button type="button" id="btn_1" class="btn btn-default" data-dismiss="modal">
				Close</button>
			</div>
		</div>
		</div>		
	</span>

	<span class="map_view">
		<button type="button" class="glyphicon glyphicon-map-marker", data-toggle="modal"
		data-target=".bs-example-modal-lg"></button>
		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
		aria-labelledby="myLargeModalLabel">		
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<%= render 'restaurants/restaurant_map' %>
			</div>
			<div class="modal-footer">
				<button type="button" id="btn_2" class="btn btn-default" data-dismiss="modal">
				Close</button>
			</div>
		</div>
		</div>		
		<hr>
	</span>	

	
	
	<%= render 'restaurants/middle_info' %>
	
	<%= render 'restaurants/restaurant_ul' %>
	
</div>