<div id="restaurant_index">

	<% @restaurants.each do |r| %>

		<div id="index_card">

			<div id="card_img">
				<%if r.albums[0].nil? %>
				<%else%>
				<%= link_to (image_tag(r.albums[0].picture_url, :width => "100%", :height => "100%")), restaurant_path(:id => r.id), 'data-no-turbolink' => true %>
				<% end %>
			</div>

			<div id="card_content">

				<div id="index_card_title_div">
					<span id="index_card_title">
						<%= link_to r.r_name ,restaurant_path(:id => r.id) %>
						<span style="color:#a1a1a1 ; font-size:20px">(추천 <%=r.r_like %>)</span>
					</span>			
				</div>

				<div>
					<span class="glyphicon glyphicon-phone-alt"> </span>
					<span id="index_card_phone"> 연락처 </span>
					<span id="index_card_value">
						<%= r.r_phone_number %>
					</span>
				</div>

				<div>
					<span class="glyphicon glyphicon-briefcase"> </span>
					<span id="index_card_code"> 배달유무 </span>
					<span id="index_card_value">
					<%= r.r_code %>
					</span>
				</div>

				<div>
					<span class="glyphicon glyphicon-map-marker"> </span>
					<span id="index_card_distance"> 소요시간 </span>
					<span id="index_card_value">
						<%= " 도보 " + r.r_distance + " 분(" + r.r_distance_door + ")"%>
					</span>
				</div>

				<div>
					<span class="glyphicon glyphicon-time"> </span>
					<span id="index_card_time"> 영업시간 </span>
					<span id="index_card_value">
						<%= r.r_time %>
					</span>
				</div>

				<div>
					<% if logged_in? && current_user.admin == true %>
						<span class="glyphicon glyphicon-user"> </span>
						<span id="index_card_time"> 운영자메뉴 </span>
						<span id="index_card_value">
							<%= link_to "", edit_restaurant_path(:id =>r.id), class:"glyphicon glyphicon-wrench" %>
							<%= link_to "", r , method: :delete, data: {confirm: "삭제하시겠습니까?"}, class:"glyphicon glyphicon-trash" %>
						</span>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
</div>

<div>
	<%=link_to (image_tag("back_top.png", :width => "90px", :height => "90px")), '#', id:"top"%>
</div>

<script>
$(document).ready(function(){
	 $('body').append('<div id="top"><i class="fa fa-angle-double-up fa-5x"></i></div>');
        $("#top").bind("click", function () {$("body").animate({ scrollTop: 0 }, 200);});
		$(window).scroll(function () {
			if ($(this).scrollTop() != 0) {
				$('#top').fadeIn();
			} else {
				$('#top').fadeOut();
			}
		});   
});    
</script>