<% provide(:title, "Sejong Plate") %>
<!DOCTYPE html>
<html>
	<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"/>
  <script src="./assets/javascripts/index.js" type="text/javascript" charset="utf-8"></script>
  </head>
	<body role="document">
    <div>
      <!-- 첫번째 배경슬라이드 -->
      <div id="main_top">
        <!-- 배경슬라이드 위 문구 -->
        <div id="main_top_copy">
          <div id="box">
            <b>세종대 재학생들의 솔직한 추천!</b><br>
            직접 먹어보고 올립니다<br>
            <span class="glyphicon glyphicon-chevron-down"></span><br>
            <button class="btn btn-default" type="submit" id="copy_report" onclick="window.open('https://goo.gl/forms/YyZMmsjgrv2fpJFV2')">맛집 제보하기
            </button>
          </div>
        </div>
        <!-- //배경슬라이드 위 문구 -->
        <!-- 배경슬라이드 이미지 -->
        <div id="main_img">
        </div>
        <!-- //배경슬라이드 이미지 -->
      </div>
      <!-- //첫번째 배경슬라이드 -->
      <!-- 가게리스트 -->
      <div id="main_bottom">
      	<% @restaurants.each do|r| %>
        	<div id="restaurant_card" onclick="location.href='/restaurants/<%= r.id %>'">
            <!-- 가게별 대표 이미지 -->
            <div id="rest_card_img">
      				<%if r.albums[0].nil? %>
              <%else%>
               <%= link_to (image_tag(r.albums[0].picture_url,
                :width => "100%", :height => "100%")),
                restaurant_path(:id => r.id),'data-no-turbolink'=>true %>
              <% end %>
      			</div>
            <!-- //가게별 대표 이미지 -->
            <!-- 가게별 세부정보 -->
	      		<div id="rest_card_info">
	      			<div id="info_title">
	      				<span id="name"><%= link_to r.r_name ,restaurant_path(:id => r.id) %></span>
                <!--
                <span id="like">(추천 <%=r.r_like %>)</span>
                -->
              </div>
	      			<div id="info_address">
	      				<span class="glyphicon glyphicon-phone-alt"> </span>
                <span id="phone"> 연락처 </span>
                <span id="value"><%= r.r_phone_number %></span>
	      			</div>
	      			<div id="info_drive">
	      				<span class="glyphicon glyphicon-briefcase"> </span>
                <span id="code"> 배달유무 </span>
                <span id="value"><%= r.r_code %></span>
	      			</div>
	      			<div id="info_direct">
	      				<span class="glyphicon glyphicon-map-marker"> </span>
                <span id="time"> 소요시간 </span>
                <span id="value">
                    <%= " 도보 " + r.r_distance + " 분(" + r.r_distance_door + ")"%>
                </span>
	      			</div>
	      			<div id="info_open">
	      				<span class="glyphicon glyphicon-time"> </span>
                <span id="constant"> 영업시간 </span>
                <span id="value"><%= r.r_time %></span>
	      			</div>
	      		</div>
            <!-- 가게별 세부정보 -->
        	</div>
        <% end %>
      </div>
      <!-- //가게리스트 -->
    </div>
    <!-- 페이지네이션 -->
		<div align="center">
		    <%= will_paginate (@restaurants)%>
		</div>
		<!-- //페이지네이션 -->
    <!-- 하단 화살표-->
    <div id="botton_scroll">
      <button id="scroll_top" onclick="scroll_top()"/>
    </div>
    <!-- //하단 화살표-->
	</body>

</html>
