<div class="show_container">
<% @restaurants.each do |r| %>
				<div class="r_index_content">
				
					<% if r.albums[0].nil? %>
					<% else %>
					<div class="r_index_picture">
						<%= image_tag r.albums[0].picture_url , :width => "170px", :height => "170px" %>
					</div>
					<% end %>
					<div class="r_index_name"
						<h4><%= link_to r.r_name, restaurant_path(:id => r.id) %></h4>
					</div>
					<div class="r_index_star">
						<span class="glyphicon glyphicon-star-empty"> </span>
						<span class="glyphicon glyphicon-star-empty"> </span>
						<span class="glyphicon glyphicon-star-empty"> </span>
						<span class="glyphicon glyphicon-star-empty"> </span>
						<span class="glyphicon glyphicon-star-empty"> </span>
					</div>
					<div class="r_index_code">
						<span id="restaurant_icon" class="glyphicon glyphicon-briefcase"> </span>
						<%= r.r_code %>	
					</div>
					<div class="r_index_admin">
						<span id="restaurant_icon" class="glyphicon glyphicon-user"> </span>	
						<%= link_to "", edit_restaurant_path(:id =>r.id), class:"glyphicon glyphicon-wrench" %>
						<%= link_to "", r,method: :delete, data: {confirm: "삭제하시겠습니까?"},class:"glyphicon glyphicon-trash" %>
					</div>
				</div>

<% end %>
</div>