<% provide(:title, "Sejong Plate") %>
<html>
	<head>
		<title></title>
	</head>
	<body>
	<div id="index_card">
		<div class = "row" id="restaurant_index_card">
			<% @restaurants.each do |restaurant| %>
			<div>
				<span>
					<div class="col-xs-4" id="restaurant_index_card_photo">
							<% if restaurant.albums[0].nil? %>
							<% else %>
							<div>
								<%= link_to image_tag(restaurant.albums[0].picture_url, :width =>"100%", :height =>"100%"), 
											restaurant_path(:id=> restaurant.id) %>
							</div>
							<% end %>
					</div>
					<div class="col-xs-8" id="restaurant_index_card_info">
						<ul>
							<li id="index_title_li">							
								<span id="index_title"><%= restaurant.r_name %><span>
							</li>
							<li id="index_phone_li">
								<%= image_tag "phone.png", :width => "28px", :height => "28px" ,
								:id => "index_phone_img"%><span id="index_phone"><%= restaurant.r_phone_number %></span>
							</li>
							<li id="index_motorcycle_li">
								<span><%= image_tag "motorcycle.png", :width => "28px", :height => "28px" %></span>
                                <span id="index_code"><%= restaurant.r_code %></span>
                            </li>
                            <li id="index_gps_li">
                            	<span><%= image_tag "gps.png", :width => "28px", :height => "28px" %></span>
                            	<span id="index_distance"><%= " 도보 " + restaurant.r_distance + " 분(" + restaurant.r_distance_door + ")"%></span>
                            </li>			
                            <li id="index_clock_li"><span><%= image_tag "clock.png", :width => "28px", :height => "28px" ,:id=>"index_close_time_img" %></span>

                                <span id="index_close_time"><%= restaurant.r_time %></span>
                            </li>
                            <li>
                                <% if logged_in? && current_user.admin == true %>
	                                <%= link_to "편집", edit_restaurant_path(:id =>restaurant.id), class:"glyphicon glyphicon-wrench" %>
	                                <%= link_to "삭제", restaurant, method: :delete, data: {confirm: "삭제하시겠습니까?"},class:"glyphicon glyphicon-trash" %>
                                <% end %>
                            </li>
						</ul>
					</div>
				</span>
			</div>
			<% end %>
		</div>
	</div>
		<div class="paginate", id="index_paginate">
               <%= will_paginate @restaurants_page , :previous_label => '이전', :next_label => '다음'%>
        </div>
	</body>
</html>

