
<% provide(:title, "Sejong Plate") %>

<div id="restaurant_index">
	<% @restaurants.each do |r| %>
	<div id="index_card">
		<div id="card_img">
			<%= link_to (image_tag(r.albums[0].picture_url, 
						:width => "100%", :height => "100%")),
			 			restaurant_path(:id => r.id), 'data-no-turbolink' => true %>
		</div>
		<div id="card_content">
			<div id="index_card_title_div">
				<span id="index_card_title">
					<%= link_to r.r_name , restaurant_path(:id => r.id) %>
				</span>			
			</div>
			<div>
				<span class="glyphicon glyphicon-phone-alt"> </span>
				<span id="index_card_phone"> 연락처 </span>
				<span id="index_card_value">
					<%= r.r_phone_number %>
				</span>
			</div>
			<div>
				<span class="glyphicon glyphicon-briefcase"> </span>
				<span id="index_card_code"> 배달유무 </span>
				<span id="index_card_value">
					<%= r.r_code %>
				</span>
			</div>
			<div>
				<span class="glyphicon glyphicon-map-marker"> </span>
				<span id="index_card_distance"> 소요시간 </span>
				<span id="index_card_value">
					<%= " 도보 " + r.r_distance + " 분(" + r.r_distance_door + ")"%>
				</span>
			</div>
			<div>
				<span class="glyphicon glyphicon-time"> </span>
				<span id="index_card_time"> 영업시간 </span>
				<span id="index_card_value">
					<%= r.r_time %>
				</span>
			</div>
		</div>
	</div>
	<% end %>

	<div class="index_paginate">
	    <%= will_paginate @restaurants_page , :previous_label => '이전', :next_label => '다음' %>
	</div>  

</div>
