<!DOCTYPE html>
<html>
<head>

</head>
<body>
	<div id="index">
		<%= form_for(@restaurant, :class => "form-horizontal", :html => { :multipart => true}) do |f| %>

			<div class="form-group">
				<%= f.label :상호명 %> <br>
				<%= f.text_field :r_name %>
			</div>

			<div class="form-group">
				<%= f.label :연락처 %> <br>
				<%= f.text_field :r_phone_number %>
			</div>	
			<div>
			
			</div>
			<div class="form-group">
				<%= f.label :소요시간 %> <br>
				<%= f.select :r_distance_door, options_for_select([["정문", "정문"], ["후문", "후문"], ["쪽문", "쪽문"]]) %> 도보
				<%= f.text_field :r_distance %> 분
			</div>	

			<div class="form-group">
				<%= f.label :영업시간 %> <br>
				<%= f.text_area :r_time %>
			</div>	

			<div class="form-group">
				<%= f.label :배달유무 %> <br>
				<%= f.radio_button :r_code, "O" %>
				<%= f.label :O %>
				<%= f.radio_button :r_code, "X", :checked => true %>
				<%= f.label :X %>
			</div>	

			<div class="form-group">
				<%= f.label :위도 %> <br>
				<%= f.text_field :r_latitude %>
			</div>

			<div class="form-group">
				<%= f.label :경도 %> <br>
				<%= f.text_field :r_longtitude %>
			</div>

			<%= f.fields_for :사진 do |p| %>
				<div class="form-group">
					<%= p.label :picture %>
					<%= p.file_field :picture, :multiple => true, name: "albums[picture][]" %>
				</div>
			<% end %>
			<br>
			<div class="actions">
				<%= f.submit %>
			</div>
			<br>

			현재 유저 숫자 : <%= @admin_info_user.count %><br>
			현재 댓글 숫자 : <%= @admin_info_comment.count %><br>

			<% @admin_info_user.each do |admin| %>
				<%= admin.id %>
				페이스북 유저 이름 : <%= admin.name %>
				닉네임 : <%= admin.nickname %><br>
			<% end %>

		<% end %>
	</div>
</body>
</html>
