<div class="show_container">
	<div class="restaurant_contents">

		<% @albums.each do |p| %>
		<%= image_tag p.picture_url , :width => "450px", :height => "350px" %>
		<% end %>

		<div class="restaurant_info">
		<h3><%= @restaurant.r_name %></h3>
		<hr>
		별점
		<span class="glyphicon glyphicon-star-empty"> </span>
		<span class="glyphicon glyphicon-star-empty"> </span>
		<span class="glyphicon glyphicon-star-empty"> </span>
		<span class="glyphicon glyphicon-star-empty"> </span>
		<span class="glyphicon glyphicon-star-empty"> </span>
		<hr>

		<ul class="restaurant_ul">
			<li>
				<span id="restaurant_icon" class="glyphicon glyphicon-phone-alt"> </span>
				<span class="restaurant_title"> 연락처 </span>
				<span class="restaurant_content">
				<%= @restaurant.r_phone_number %>
				</span>
			</li>

			<li>
				<span id="restaurant_icon" class="glyphicon glyphicon-send"> </span>
				<span class="restaurant_title"> 배달유무 </span>
				<span class="restaurant_content">
				<%= @restaurant.r_code %>
				</span>
			</li>

			<li>
				<span id="restaurant_icon" class="glyphicon glyphicon-map-marker"> </span>
				<span class="restaurant_title"> 소요시간 </span>
				<span class="restaurant_content">
				<%= @restaurant.r_distance %>
				</span>
			</li>

			<li>
				<span id="restaurant_icon" class="glyphicon glyphicon-time"> </span>
				<span class="restaurant_title"> 영업시간 </span>
				<span class="restaurant_content">
				<%= @restaurant.r_time %>
				</span>
			</li>
		</ul>
		</div>
	</div>

	<div class="comment_contents">

	<strong> 리뷰 </strong>
	<span class="r_contents">
	(<%= @comments.count %>)
	</span>
	<br>

	<div class="comment_content">
		<% @comments.each do |c| %>
		<%= c.c_content %>
		<% end %>
	</div>

	</div>

	<%= form_for (@comment) do |c| %>
		<%= c.text_area :c_content, class: "comment_create" %>
		<%= c.submit "등록", class: "btn btn-success btn-sm", data:{disable_with: "등록중..."} %>
	<% end %>
</div>