<% provide(:title, @restaurant.r_name) %>

<!DOCTYPE html>
<html>
	<head>
		<script type='text/javascript' src='http://2nlizv2n463m4ezbxb1ci6m1.wpengine.netdna-cdn.com/wp-content/themes/woo/includes/js/jquery.flexslider.min.js?ver=2.2.0', data-turbolinks="true"></script>

		<script type="text/javascript" charset="utf-8">
			$(window).load(function() {
				$('.flexslider').flexslider({
					animation: "slide",
					smoothHeight: true,
					controlNav: true,
					directionNav: false,
					itemWidth: 1080,
					itemMargin: 5,
					start: function(slider) {
						$('body').removeClass('loading');
					}			
				});
			});
		</script>

		<script>
			$( document ).ready(function() {
				$('#restaurant_like_button').click(function() { 
					$.blockUI({ 
						css: { 
		            		border: 'none', 
		            		padding: '15px', 
		            		backgroundColor: '#000', 
		            		'-webkit-border-radius': '10px', 
		            		'-moz-border-radius': '10px', 
		            		opacity: .5, 
		            		color: '#fff' 
        				},
						message: ' 잠시만 기다려주세요..' }); 
        			setTimeout($.unblockUI, 200); 
    			});    	
			});
		</script>

		<meta name="subject" content="#{@restaurant.r_name}">
		<meta name="description" content="#{@restaurant.r_name}" + "의 메뉴, 사진, 주소, 전화번호, 영업시간 등의 정보를 세종플레이트에서 확인해보세요.">
		<meta name="url" content="#{@share_img}">
		<meta name="image" content="#{@share_img}">

		<meta property="fb:app_id" content="479527275585707" />
		<meta property="og:url"  content='http://www.sejongplate.com/restaurants/' + "#{@restaurant.id}" />
    	<meta property="og:type" content="website" />

    	<meta property="og:title" content="#{@restaurant.r_name}" />
    	<meta property="og:description" content="#{@restaurant.r_name}" + "의 메뉴, 사진, 주소, 전화번호, 영업시간 등의 정보를 세종플레이트에서 확인해보세요." />
    	<meta property="og:image" content="#{@share_img}" />
	</head>

	<body>
		<%= render 'restaurants/restaurant_info_imageslider' %>
		<%= render 'restaurants/restaurant_info_top' %>
		<%= render 'restaurants/restaurant_info_middle' %>
		<%= render 'restaurants/restaurant_info_bottom' %>

		<div class="restaurant_info_imgcard">

			<div class="restaurant_info_imgcard_word">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
 					<div class="panel panel-default">
    					<div class="panel-heading" role="tab" id="headingOne">
      						<div class="panel-title">
        						<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									식당 더보기
								</a>
							</div>
							<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      							<div class="panel-body">
      								<%= render 'restaurants/restaurant_show_card' %>
      							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</body>
</html>