<div class="show_container">
	<div class="restaurant_contents">

		<% @albums.each do |p| %>
		<%= image_tag p.picture_url , :width => "450px", :height => "350px" %>
		<% end %>

		<div class="restaurant_info">
		<h3><%= @restaurant.r_name %></h3>
		<hr>

		<div class="middle_info">
		<div class="score_area">
		<span class="glyphicon glyphicon-cutlery"></span><span class="glyphicon glyphicon-cutlery"></span> <br>
		<%= @comments.count %> 리뷰
		</div>
		<div class="restaurant_like">
		<%= @restaurant.r_like %> <br> 맛나요
		</div>
		
		<div class="menu_list">
		<button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal">
  		메뉴판 보기
		</button>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  			<div class="modal-dialog">
    			<div class="modal-content">
      				<h5>소금구이 덮밥 : 3000원</h5>
      				<h5>육회비빔밥 : 4000원</h5>
      				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    			</div>
  			</div>
		</div>
		</div>

		</div>
		<hr>

		<ul class="restaurant_ul">
			<li>
				<span id="restaurant_icon" class="glyphicon glyphicon-phone-alt"> </span>
				<span class="restaurant_title"> 연락처 </span>
				<span class="restaurant_content">
				<%= @restaurant.r_phone_number %>
				</span>
			</li>

			<li>
				<span id="restaurant_icon" class="glyphicon glyphicon-briefcase"> </span>
				<span class="restaurant_title"> 배달유무 </span>
				<span class="restaurant_content">
				<%= @restaurant.r_code %>
				</span>
			</li>

			<li>
				<span id="restaurant_icon" class="glyphicon glyphicon-map-marker"> </span>
				<span class="restaurant_title"> 소요시간 </span>
				<span class="restaurant_content">
				<%= @restaurant.r_distance %>
				</span>
			</li>

			<li>
				<span id="restaurant_icon" class="glyphicon glyphicon-time"> </span>
				<span class="restaurant_title"> 영업시간 </span>
				<span class="restaurant_content">
				<%= @restaurant.r_time %>
				</span>
			</li>
		</ul>
		</div>
	</div>

	<div class="comment_contents">

	<strong> 리뷰 </strong>
	<span class="r_contents">
	(<%= @comments.count %>)
	</span>
	<br><br>
	<div class="comment_user">
	</div>

	<div class="comment_content">
		<div class="comment_sentence">
			<% @comments.each do |c| %>
			<%= c.c_content %>		
		<hr>
		<% end %>
		</div>
	</div>

	<div class="comment_new">

	<%= form_for ([@restaurant, @restaurant.comments.build]) do |c| %>
		<%= c.text_field :c_content, class: "comment_create" %>
		<%= c.submit "등록", id: "comment_submit", class: "btn btn-success", data:{disable_with: "등록중..."} %>
	<% end %>
	</div>
	</div>	
</div>