<% provide(:title, @restaurant.r_name) %>
<% if current_user.admin == true %>
<%=link_to "좋아요 테스트", 
	valuations_path(:restaurant_id => @restaurant.id) , method: :post %><br>
<%= @restaurant.valuations.find_by(:facebook_user_id => current_user.id).recommend %>
<% end %>
<div class="show_container">
	<div class="restaurant_contents">
		<%= image_tag @albums[0].picture_url, :width => "49%", :height => "100%" %>

		<%= render 'restaurants/restaurant_info' %>

	</div>

	<div class="comment_contents">
		<%= render 'restaurants/comment_content' %>
		<%= render 'restaurants/comment_input' %>
	</div>

<<<<<<< HEAD
	<%= render 'restaurants/restaurant_map' %>
=======
>>>>>>> 44cd8bd3485424a7cf42d9dd5c58d4e133a51343
</div>

<script>
	$( document ).ready(function() {
		$('#like_button').click(function() { 
			$.blockUI({ 
				css: { 
		            border: 'none', 
		            padding: '15px', 
		            backgroundColor: '#000', 
		            '-webkit-border-radius': '10px', 
		            '-moz-border-radius': '10px', 
		            opacity: .5, 
		            color: '#fff' 
        		},
				message: ' 잠시만 기다려주세요..' }); 
        	setTimeout($.unblockUI, 500); 
    	});   
	});
</script>
