<div class="show_container">
	<div class="restaurant_contents">

		<% @albums.each do |p| %>
		<%= image_tag p.picture_url , :width => "450px", :height => "350px" %>
		<% end %>

		<div class="restaurant_info">
		<h3><%= @restaurant.r_name %></h3>
		<hr>
		<span class="restaurant_click_count">
		<%= @restaurant.r_click_count %>
		조회수
		</span>
		<span class="restaurant_like">
		<%= @restaurant.r_like %>
		추천수
		</span><hr>

		<ul class="restaurant_ul">
			<li>
				<span class="restaurant_title"> 연락처 </span>
				<span class="restaurant_content">
				<%= @restaurant.r_phone_number %>
				</span>
			</li>

			<li>
				<span class="restaurant_title"> 소요시간 </span>
				<span class="restaurant_content">
				<%= @restaurant.r_distance %>
				</span>
			</li>

			<li>
				<span class="restaurant_title"> 영업시간 </span>
				<span class="restaurant_content">
				<%= @restaurant.r_time %>
				</span>
			</li>

			<li>
				<span class="restaurant_title"> 종류 </span>
				<span class="restaurant_content">
				<%= @restaurant.r_code %>
				</span>
			</li>
		</ul>
		</div>
	</div>
</div>