<!DOCTYPE html>
<html>
	<head>
  <script type="text/javascript" src="http://openapi.map.naver.com/openapi/naverMap.naver?ver=2.0&key=ab36337e7f5a470f7a2749a1373c5584"></script>
	</head>
	<body>
    <!-- show 페이지 전체 영역 -->
		<div id="show_card">
      <!-- show 페이지 상단 이미지 슬라이드 영역 -->
			<div id="img_slider">
        <% @albums.each do |p| %>
					<div class="item">
						<%= image_tag p.picture_url %>
					</div>
				<% end %>
			</div>
      <!-- //show 페이지 상단 이미지 슬라이드 영역 -->
      <!-- show 페이지 하단 상세정보 영역 -->
			<div id="show_info">
        <!-- 가게 타이틀, 추천수 -->
				<div>
					<span id="title"><%= @restaurant.r_name %></span>
				</div>
        <!-- //가게 타이틀, 추천수 -->
				<div>
          <!-- 배달 유무 -->
					<div style="margin-top:20px;">
            <span class="glyphicon glyphicon-briefcase"></span>
            <span id="delivery"> 배달유무 </span>
            <span id="value">
           	 <%= @restaurant.r_code %>
            </span>
          </div>
          <!-- //배달 유무 -->
          <!-- 연락처 -->
					<div style="margin-top:10px;">
            <span class="glyphicon glyphicon-phone-alt"> </span>
            <span id="address"> 연락처 </span>
            <span id="value">
              <%= @restaurant.r_phone_number %>
            </span>
          </div>
          <!-- //연락처 -->
          <!-- 소요시간 -->
					<div style="margin-top:10px;">
            <span class="glyphicon glyphicon-map-marker"> </span>
            <span id="distance"> 소요시간 </span>
            <span id="value">
              <%= " 도보 " + @restaurant.r_distance + " 분(" + @restaurant.r_distance_door + ")"%>
            </span>
          </div>
          <!-- //소요시간 -->
          <!-- 영업시간 -->
					<div style="margin-top:10px;" id="open_div">
            <span class="glyphicon glyphicon-time"> </span>
            <span id="open"> 영업시간 </span>
            <span id="value">
              <%= @restaurant.r_time %>
            </span>
          </div>
          <!-- //영업시간 -->
				</div>
			</div>
      <!-- //show 페이지 하단 상세정보 영역 -->
      <!-- 네이버 지도 API -->
			<div id="show_map">
        <div id="map"></div>
			</div>
      <!-- //네이버 지도 API -->
		</div>
    <!-- //show 페이지 전체 영역 -->
	</body>
</html>
<script>
    //헤더 처음부터 배경 하얀색 하려고 만듬.
    $('.navbar-inverse').css('background-color','white');
    $('.navbar-inverse .navbar-brand').css('color','#222');
    $('.navbar-inverse .navbar-nav > li > a').css('color','#222');
    $('#logo').css('color','black');
    
    //이미지 슬라이더 jQuery Plugin
    $(document).ready(function() {
      $("#img_slider").owlCarousel({
          autoPlay: 2500, //Set AutoPlay to 3 seconds
          items : 4,
          itemsDesktop : [1199,3],
          itemsDesktopSmall : [979,3]
      });
    });
     
    

    //브라우저 너비에 맞춘 Dynamical Function
		$(window).resize(function () {
      $('#map').css('width',100+'%');
      $('.nmap').css('width',100+'%');
      console.log($(window).width());
    });

    //네이버 지도API
    var oPoint = new nhn.api.map.LatLng(
      <%= @restaurant.r_latitude %>, <%=@restaurant.r_longtitude %>
      );
    var oMap = new nhn.api.map.Map(document.getElementById('map'), { 
        point : oPoint,
        zoom : 12,
        enableWheelZoom : true,
        enableDragPan : true,
        enableDblClickZoom : true,
        mapMode : 0,
        activateTrafficMap : false,
        activateBicycleMap : false,
        activateRealtyMap : true,
        minMaxLevel : [ 1, 14 ],
        size : new nhn.api.map.Size(300, 300)
    });

    // 줌 컨트롤러
    var oSlider = new nhn.api.map.ZoomControl();
    oMap.addControl(oSlider);
    oSlider.setPosition({ top:15, left:15 });
    //아래는 위에서 지정한 좌표에 마커를 표시하는 소스 입니다.
    var oSize = new nhn.api.map.Size(28, 37);
    var oOffset = new nhn.api.map.Size(14, 37);
    var oIcon = new nhn.api.map.Icon('http://static.naver.com/maps2/icons/pin_spot2.png', oSize, oOffset);
    //icon 이미지를 바꿔서 사용할 수 있습니다.
    var oMarker = new nhn.api.map.Marker(oIcon, { title : '<%= @restaurant.r_name %>' }); 
    oMarker.setPoint(oPoint);
    oMap.addOverlay(oMarker);
    // 마커라벨 표시
    var oLabel1 = new nhn.api.map.MarkerLabel(); // 마커 라벨 선언
    oMap.addOverlay(oLabel1);// 마커 라벨 지도에 추가. 기본은 라벨이 보이지 않는 상태로 추가됨
    oLabel1.setVisible(true, oMarker);// 마커 라벨 보이기 
</script>
