<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("folk.png", width: "35px", id:"logo_img") + "Sejong Plate", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%=link_to "맛집리스트", restaurants_path %>
        </li>
        <% if current_user && current_user.admin == true %>
        <li>
          <%=link_to "글쓰기", new_restaurant_path %>
        </li>
        <% end %>
        <li>
          <% if current_user %> 
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%if current_user.nickname == nil%>
                    <%= current_user.name + "님" %> <b class="caret"></b>
                    <% else %>
                    <%= current_user.nickname + "님" %> <b class="caret"></b>
                  <% end %>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "설정", edit_facebook_user_path(:id => current_user.id) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "로그아웃", signout_path, id: "sign_out" %>
                  </li>
                </ul>
              </li>                
          <% else %>
            <%= link_to "페이스북 로그인", "/auth/facebook", id: "sign_in" %>          
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
