<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Sejong Plate", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%=link_to "Sample page", '# '%>
        </li>
        <li>
        <div id = 'facebook'>
          <% if current_user %>
                <%= current_user.name %>
                <%= link_to "Log out", signout_path, id: "sign_out" %>
          <% else %>
            <%= link_to "Log in with Facebook", "/auth/facebook", id: "sign_in" %>
          <% end %>
        </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
